body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f1f1f1;
  margin: 0;
  padding: 20px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.filter-container button {
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #11111138;
}

/* CONTENEUR DES PAYS */
.countries-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

/* CARD */
.card {
  background: #111;
  color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}

.card h2 {
  margin: 15px 0 5px;
}

.card h4 {
  margin: 5px 0;
  font-weight: normal;
  color: #ccc;
}

.card p {
  margin-top: 10px;
}
