/* Vérsion froom Scratch */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s linear;
}
    h2 {
        background: black;
        border-radius: 10px;
        color: withite;
        padding: 20px;
    }
    */