*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}
body{
  text-align: center;
  margin: 0;
  color: white;
  min-height: 200vh;
  
}

.box{
  border: 6px solid white;
  transition: 0.25 ease;
  background: rgb(68, 68, 68);
  padding: 10px;
}

p {
  visibility: hidden;
  width: 200px;
  margin: 10px auto;
  visibility: 0;
  transition: 0.6s;
}

.question-click{
  cursor: pointer;
  background: rgb(100, 100, 100);
  border-radius: 30px;

}

.show-answer {
  visibility: visible;
  opacity: 1;
}

.mousemouve{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.5);
  transform: translate(-50%, -50%);
  pointer-events: none; /* ignore les évenements de la souris */
}

nav{
  position: fixed;
  width: 100%;
  height: 50px;
  background: rgba(59, 241, 3, 0.8);
  top: -50px;
  transition: 0.45s;
}
ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}